@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
    box-sizing: border-box;
}

/* para declarar variables :root */
:root{
    --color-principal:#fa573a;
    --color-secundario:#21242e;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
    --anchoMaximo:  1100px;
    --gris: #aaa;
    --break-point-tablet:48em;
    --break-point-desktop:62.75em;
}
body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width: 100%;
    height: auto;
    display: block;
}
/* SIEMPRE QUE TRABAJEMOS CON IMAGENES ESTOS ATRIBUTOS PORQUE ES UNA WEB RESPONSIVE */
.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}
.row{
    display: flex;
}
/* HEADER */
header .nav_top{
    background-color: var(--color-secundario);
    padding: 20px 10px;
}
header .nav_top a{
    color: white;
    font-size: 120%;
    text-decoration: none;
}
header .nav_top a span{
    display: none;
}
/* en la version de movil decidimos que no se vean los span luego cuando hagamos la version desktop la pondremos otra vez */
header .nav_top a i{
    color: var(--color-principal);
}

header .nav_top .row{
    justify-content: space-between;
}


header nav{
    padding: 20px 10px;
}
header .hamburguesa{
    width: 50px;
    cursor: pointer;
}
header .hamburguesa div{
    border-top: 2px solid var(--gris);
    margin: 10px;
}

header nav .row{
    flex-wrap: wrap;
    justify-content: space-between;
}
header nav ul{
    width: 100%;
}
header nav .logo{
    max-width: 110px;
}
header nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--gris);
    border-bottom: 1px solid var(--gris);
}
header nav ul li a:hover{
    color: var(--color-principal);
}
header nav ul li .activo{
    color: var(--color-principal);
}

@media(min-width: 48em){
    header .nav_top a span{
        display: inline;
    }

}
@media(min-width:62.750em){
    header .hamburguesa{
        display: none;
    }
    header nav ul{
        width: auto;
        
    }
    header nav ul li{
        display: inline-block;

    }
    header nav ul li a{
        padding: 5px 20px;
        border-bottom: 0px;
    }
}
/* FIN HEADER */

/* INICIO FOOTER */

footer{
    background-color: var(--color-secundario);
    padding: 20px 10px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    margin-top: 20px;
    bottom: 0px;
}
footer a{
    color: white;
}
footer a:hover{
    text-decoration: none;

}
@media(min-width: 48em){
    footer{
        text-align: left;
    }
}




/* FIN FOOTER */



/* INICIO HERO */

.hero{
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    background-color: #999;
    background-blend-mode:multiply;
    background-position: center;
    padding: 15% 10px;
}
.hero h1{
    font-family: var(--fuenteSecundaria);
    color: white;
    font-size: 2.5em;
}
.hero h2{
    color: var(--color-principal);
    font-size: 1.5em;
    margin: 1em 0;
}

.hero p{
    color: white;
    font-size: 1.1em;  
}
.boton{
    display: inline-block;
    background-color: var(--color-principal);
    color: white;
    padding: 1.15em;
    text-decoration: none;
    margin:1em 0;
    border: 1px solid var(--color-principal);
}
.boton:hover{
    background-color: transparent;
    color: var(--color-principal);

}
.boton i{
    transition-duration: 0.5s;

}
.boton:hover i{
    transform: translateX(5px);

}
.hero ul li{
    display: inline-block;
    font-size: 2em;
    margin-right: 1em;
}

.hero ul li a{
    color: white;
}




/* FIN HERO */

/* inicio main section ourservices */

main section{
    padding: 2.125em 0.825em;
}
main section h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}
main section h2 span{
    color: var(--color-principal);
}

main section .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}
main section .underline hr{
    position: absolute;
    width: 100%;
    top: -0.063em;
    border-color: var(--color-principal);
}
main #ourservices article .fa-truck{
    transform: rotateY(180deg);
}
main #ourservices .row{
    flex-wrap: wrap;
}

main #ourservices article{
    border-bottom: 1px solid var(--gris);
    padding: 1.825em 0;
}
main #ourservices article div i{
    color: var(--color-principal);
    font-size: 2em;
    border: 2px solid var(--color-principal);
    padding: 0.8rem;
}
main #ourservices article h3{
    margin: 1em 0;
    font-weight: 700;
}
.enlace{
    text-decoration: none;
    color: var(--color-principal);
    margin: 1em 0 0 0;
    display: block;
}
@media(min-width: 48em){
    main #ourservices article{
        width: 50%;
        border-bottom: 0px;
        border-left: 1px solid var(--gris);
        padding: 1.825em;
        margin-bottom: 1em;
}
    main #ourservices article:last-child{
        width: 100%;
    }

}
@media(min-width: 62.750em){
    main #ourservices article, main #ourservices article:last-child {
        width: 33.333%;

    }
}


/* fin main section ourservices */

/* inicio main section about us */

main #aboutus{
    padding: 100px;
}
main #aboutus .row{
    flex-wrap: wrap;
}
main #aboutus h3{
    font-weight: 700;
}
main #aboutus h4{
    margin: 1em 0;
    color: var(--color-principal);
}
main #aboutus .marco{
     margin: 15px 0;
     border: 3px solid var(--color-principal);
     transform: rotateZ(10deg);
     width: 90%;
     transition: 1s;
}
main #aboutus .marco img{
    transform: rotateZ(-10deg);
    transition: 1s;
}
main #aboutus .columna:hover .marco, main #aboutus .columna:hover .marco img{
    transform: rotateZ(0deg);

}

@media(min-width: 48.000em) {
    main #aboutus .marco{
        margin: 0px 15px;
    }
    main #aboutus .columna:first-child{
        width: 40%;
    }
    main #aboutus .columna:last-child{
        width: 60%;
    }


}
/* fin main section about us */

/* inicio del blog */
main section div .text{
    text-align: left;
    margin-top: 20px;
    margin-left: 2em;
}
main section div.row h3{
    color:var(--color-secundario);
    font-size: 1em;
    margin: 10px 20px 0 0;
    font-weight: bold;
    
}
main section div.row h4{
    color: var(--color-principal);
    margin: 10px 0;
    font-weight: bold;
    font-size: 0.8em;
}
main section div.row img{
    display: block;
}
main section div.row>div{
    position: relative;
    margin: 1%;
}

main section div.row>div div.text p.fecha{
    position: absolute;
    background-color: var(--color-principal);
    color: white;
    padding: 20px 15px;
    top: 0;
    left: 0;
    text-align: center;
}

@media(max-width: 48.000em) {

    main section#blog div.row{
        flex-wrap: wrap;
    }

    main section#blog div.row div{
       width: 48%;
    }


}
/* fin del blog */

/* inicio del menu */

.container{
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}
section#menu{
    color: white;
    position: relative;

}
.wrapper{
    flex-wrap: wrap;
}
main section#menu{
    background-color: var(--color-secundario);
    

}
main section#menu aside{

    width:40%;

}
main section aside nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5em;
    border-radius: 4px;
  }
main section aside nav ul li a.seleccionada{
    background-color: var(--color-principal);
  
  }
main section#menu div.comida{
    width: 60%;

}
main section#menu div.comida div img{
    width: 30%;

}
main section#menu div.comida div div.text{
    width: 70%;
    text-align: left;
    justify-content: none;
    
}

main section div h2{
    color: white;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}
main section#menu div.row h2{
    color: white;
    font-family: var(--fuentePrincipal);
    font-size: 1.5em;
    text-align: left;
    margin: 0.5em;
}
main section div h2 span{
    color: var(--color-principal);
}

main section div.underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: 700;
    margin-bottom: 2em;
    text-align: center;
}
main section div.underline hr{
    position: absolute;
    width: 100%;
    top: -0.063em;
    border-color: var(--color-principal);
}
main section#menu div.comida>div{
    margin: 2em;
}
main section#menu aside div{
    margin: 2em 0;
    
}
@media(max-width: 48.000em){
    main section#menu div.row{  
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
}
main section#menu div.comida div img{
    width: 100%;

}


}
/* fin del menu */